.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  margin: 0.8rem 0;

  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 1.5rem;
    background-color: #ffffff1a;
    border-radius: 30px;
    font-size: 1rem;
    color: #eff1f6bf;
    gap: 0.6rem;
    cursor: pointer;
    transition: all 0.3s;

    & > img {
      width: 1.1rem;
      height: 1.1rem;
      color: #eff1f6bf;
    }

    &:hover {
      background: #ffffff24;
    }

    &:first-child {
      min-width: 160px;
      background: #fff;
      color: rgb(38 38 38/1);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
