.container {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.4s ease-in-out;

  .wraper {
    width: 25%;
    min-height: 50%;
    padding: 1.2rem;
    border-radius: 6px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .forgetPas {
      color: #546e7a;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .wraper {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    .wraper {
      width: 60%;
    }
  }
}
