@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white-primary: #fff;
  --primary-color: #fea116;
  --secondary-color: #1da09c;
  --black-primary: #1c1d20;
  --blue-primary: #1890ff;
  --background-one: #1b1b1a;
  --background-two: #f8f8fd;
}

body {
  background: var(--background-one);
}

/* dark  scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 6px;
}

/* color classes */
.color_gray {
  color: #bdbdbd;
}

.color_text_blue {
  color: #546e7a;
}

/* CODE EDITOR*/
.cm-scroller,
.cm-gutters {
  background-color: #282828 !important;
}
.cm-focused {
  outline: none !important;
}

.split {
  display: flex;
  flex-direction: row;
  padding: 0 0.8rem;
}

.gutter {
  background-color: #0e0e0f;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter:hover {
  border-radius: 5px;
  background-color: transparent;
}

.gutter.gutter-horizontal {
  width: 5px !important;
  padding: 0 5px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  height: 4px !important;
  padding: 5px 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

code {
  border-radius: 5px;
  border-width: 1px;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.125rem;
  letter-spacing: 1px;
  white-space: pre-wrap;
  background-color: hsla(0, 0%, 100%, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
}

.example-card pre {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 0.5rem;
  color: rgba(239, 241, 246, 0.75);
  font-size: 0.98rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  white-space: pre-wrap;
}
.example-card pre strong {
  color: white;
  font-size: 1rem;
}

.fullScreenIcon {
  padding: 4px;
  position: absolute;
  right: 10px;
  border-radius: 6px;
  cursor: pointer;

  & > svg {
    width: 1.2rem;
    height: 1.2rem;
    color: #fff;
  }

  &:hover {
    background-color: #ffffff14;
  }
}
