.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15rem;
  position: relative;
  min-height: 100px;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > img {
      width: 2rem;
      height: 2rem;
    }

    & > h1 {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--white-primary);
    }
  }

  .menu {
    display: flex;
    gap: 2rem;
    align-items: center;
    cursor: pointer;
    color: var(--white-primary);

    .menuItem {
      font-size: 0.9rem;
      color: var(--white-primary);
      padding: 6px 15px;
      transition: all 0.5s;
      border-radius: 1.5rem;

      &:first-child {
        color: var(--primary-color);
      }

      &:first-child:hover {
        background: var(--primary-color);
        color: black;
      }

      &:hover {
        background: var(--white-primary);
        color: black;
      }
    }

    .logoutBtn {
      & > svg {
        font-size: 1.3rem;
        transition: all 0.5s;

        &:hover {
          color: var(--primary-color);
          scale: 1.1;
        }
      }
    }
  }

  &[data-isBackgroundPresent='true'] {
    background-color: rgb(40 40 40 /1);
    border-bottom: 1px solid #ffffff24;
    min-height: 65px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    padding: 0 2rem;
    min-height: 60px;

    .menu {
      display: none;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    padding: 0 8rem;
  }
}
